* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
    background-color: white;
    font-size: larger;
}


pre {
    font-size: 15px;
}


button{
    background-color: rgb(35, 52, 129);
    border: none;
    font-family: Garamond, serif;
    font-weight: 500px;
    font-size: x-large;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    padding:7px 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    -moz-box-shadow: 2px 2px 3px 4px black;
    -webkit-box-shadow: 2px 2px 3px 4px rgb(189, 187, 187);
    box-shadow: 2px 2px 3px 4px rgb(189, 187, 187);
}


button:hover {
    background-color: rgb(35, 52, 129,0.7);
}


 input[type=submit] {
         background-color: rgb(35, 52, 129);
    border: none;
    font-family: Garamond, serif;
    font-weight: 500px;
    font-size: x-large;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    padding:7px 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    -moz-box-shadow: 2px 2px 3px 4px black;
    -webkit-box-shadow: 2px 2px 3px 4px rgb(189, 187, 187);
    box-shadow: 2px 2px 3px 4px rgb(189, 187, 187);
 }


  input[type=submit]:hover {
      background-color: rgb(35, 52, 129,0.7);
  }


.header{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.left-col {
    margin-top: 2%;
    margin-left: 1%;
    width: 13%;
    float: left;
    background-color: rgb(35, 52, 129);
    border-radius: 5px;
    -moz-box-shadow: 3px 3px 5px 6px black;
    -webkit-box-shadow: 3px 3px 5px 6px rgb(189, 187, 187);
    box-shadow: 3px 3px 5px 6px rgb(189, 187, 187);
}

.center-col {
    margin-top: 2%;
    margin-left: 2%;
    width: 80%;
    float: left;
    font-family: Garamond, serif;
    font-size:20px;
}


.container div {
    padding: 1%;
    box-sizing: large;
    min-height: 100vh;
}


.left-col a:link {
    font-family: Garamond, serif;
    font-size: x-large;
    font-weight: 200;
    color: white;
    text-decoration: none;
}


.left-col a:visited {
    color: white;
    text-decoration: none;
}

.left-col a:hover {
    color: hotpink;
}

.nav-link {
    display: inline-block;
    padding: 0px 30px;
}
