{% extends 'main.html' %}
{% block body %}
<h1>New Page</h1>
<form  action='#' method = "POST">
    <label for="page_title">Page title:</label></br>
    <textarea id="page_title" name="page_title" rows="1" cols="100"></textarea><br><br>
    <textarea id="content" name="content" rows="20" cols="100">{{pre_populate_txt}}</textarea><br><br>
    <label for="editor_name">Editor name:</label>
    <input type="text" id="editor_name" name="editor_name" required><br><br>
    <label for="editor_email">Email:</label>
    <input type="email" id="editor_email" name="editor_email" required><br><br>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description"required><br><br>
    <input type="submit" name = "submit" value="Submit">
</form>
{% endblock %}
