{% extends 'main.html' %}
{% block body %}
<h1>Edit</h1>
<form method = "POST">
    <textarea id="content" name="content" rows="20" cols="100">{{pre_populate_txt}}</textarea><br><br>
    <label for="editor_name">Editor name:</label>
    <input type="text" id="editor_name" name="editor_name" required><br><br>
    <label for="editor_email">Email:</label>
    <input type="email" id="editor_email" name="editor_email" required><br><br>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description"required><br><br>
    <input type="submit" name = "submit" value="Submit">
</form>
{% endblock %}
